.body-content{
    height: 100vh;
    align-items: center;
    margin: auto;
}
.card{
    height: 10vh;
    width: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}
.card-back-red{
    height: 10vh;
    width: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    background: #f50057;
}
.card-back-yellow{
    height: 10vh;
    width: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    background: yellow;
}
.card-back-primary{
    height: 10vh;
    width: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    background: #3f51b5;
}