.box{
    border-radius: 50px;
    width: 35vw;
}

.item{
    font-size: medium;
    margin: 10px;
}

.change-icon > .fa + .fa,
.change-icon:hover > .fa {
    color: white;
    display: none;
}
.change-icon:hover > .fa + .fa {
    color: white;
    display: inherit;
}

.itemBox{
    border: mediumpurple;
    background-color: #61dafb;
    color: white;
}

.line {
    margin-top: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid;
}

.lineVer{
    border-right: 1px solid;
}

.col{
    display: flex;
    flex-direction: row;
}