.App {
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: mediumpurple;
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.SideBar{
  background: rebeccapurple;
  width: 100px;
  height: available;
  color: white;
}

.Profile{
  height: 10vh;
  background-color: rebeccapurple;
}

.curve {
  background: #282c34;
  width: 110px;
  height: 75px;
  position: relative;
}
.curve:before {
  content: '';
  background-image: radial-gradient(circle at 100% 100%, rgba(204, 0, 0, 0) 100px, #282c34 100px);
  position: absolute;
  top: 0;
  left: 100%;
  width: 100px;
  height: 75px;
}
.curve:after {
  content: '';
  position: absolute;
  width: 110px;
  height: 75px;
  background: #282c34;
  border-radius: 0 0 100% 0 / 0 0 100% 0;
  top: 100%;
  left: 0;
}

.content{
  padding: 35px;
}

.col{
  display: flex;
  flex-direction: row;
}

.centre{
  align-content: center;
  align-self: center;
  margin: 0 auto;
}

.line {
  border-bottom: 1px solid;
}

.lineVer{
  border-right: 1px solid;
  maring: 30px;
  padding: 30px;
}

.rightBox{
  align-content: center;
  width: 20vw;
  height: 45vh;
  border: 7px solid mediumpurple;
  margin: 30px;
}

.Row{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.Padding{
  padding-left: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
